<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= label_tag :name, 'Full name' %>
    <%= form.text_field :name, { placeholder: 'Enter your full name here' } %>
    <br />
    <%= label_tag :email, 'E-mail' %>
    <%= form.email_field :email %>
    <br />
    <%= label_tag :avatar, 'Avatar' %>
    <%= form.file_field :avatar_image %>
    </br>
    <%= form.submit %>
  </div>
<% end %>
