<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<%= form_with(scope: :user, url: auth_users_path) do |form| %>
  <%= label_tag :email, 'Enter your email' %>
  <%= form.text_field :email %>
  <%= form.submit 'Login' %>
  <%= link_to 'Sign up', new_user_path %>
<% end %>

<style type="text/css">
  .error {
    color: red;
  }
</style>
