<p id="notice"><%= notice %></p>

<%= link_to 'Edit your user', edit_user_path(@user) %> |
<%= link_to 'Your posts', user_posts_path(@user) %> |
<%= link_to 'Back', users_path %>

<br />
<% if @user.avatar_image %>
  <img src="/<%= @user.avatar_image %>" width="64" height="64" />
<% end %>
<p> <%= @user.name %> </p>
<p> <%= @user.email %> </p>
