<%= form_with(model: [@author, @post], local: true, :html => {:class => "form"}) do |form| %>
  <div id="error_explanation" style="display: none">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <label for="title"> Title </label>
    <%= form.text_field :title %>
    <br />
    <label for="content"> Content </label>
    <%= form.text_area :content %>
    <br />
    <%= form.submit %>
  </div>
<% end %>
