<%= form_with(model: [@author, @post], local: true, :html => {:class => "form"}) do |form| %>
  <div id="error_explanation" style="display: none">
    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <label for="title"> Title </label>
    <input id="title" name="post[title]" placeholder="Enter your post title here" />
    <br />
    <label for="content"> Content </label>
    <textarea id="name" name="post[content]"> </textarea>
    <br />
    <input type="button" id="send" value="Create Post" />
  </div>
<% end %>

<!-- Creating Post with AJAX -->
<script type="text/javascript">
  var url;

  <% if request.url.include?('new') %>
  url = '/users/<%= @author.id %>/posts';
  <% else %>
  url = '/users/<%= @author.id %>/posts/<%= @post.id %>';
  <% end %>

  var onPageLoad = function (event) {
    var form, button;

    form   = document.querySelector('.form');
    button = document.querySelector("#send");

    button.addEventListener('click', function (event) {
      var ajax = new XMLHttpRequest();

      ajax.open('POST', url, true);
      ajax.addEventListener('readystatechange', function (event) {
        if (ajax.readyState === 4 && ajax.status === 200) {
          var data = JSON.parse(ajax.responseText);

          alert(data.message);
          window.location = window.location.href.replace(/\/new/gi, '');
        }
      });
      ajax.send(new FormData(form));
    });

    document.removeEventListener('turbolinks:load', onPageLoad);
  };

  document.addEventListener('turbolinks:load', onPageLoad, { once: true });
</script>
