<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %> </td>
        <td><%= link_to 'Show', user_post_path(@author, post) %></td>
        <td><%= link_to 'Edit', edit_user_post_path(@author, post) %></td>
        <td><%= link_to 'Destroy', [@author, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_user_post_path(@author) %>
